* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0;
}

#intro {
  background-image: url("https://www.freeimageslive.co.uk/files/images010/engineering.jpg");
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
}

.section-title {
  color: #5b6e91;
}

#intro h1 {
  color: #cdcdcd;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding-top: 400px;
}

#demo-videos {
  height: 500px;
}

.main-header {
    background-color: #5b6e91;
    width: 100%;
    padding: 8px 16;
    margin: 0;
    display: inline-block;
}
