body {
  font-family: 'PT Sans Narrow', sans-serif;
}

#intro {
  background: #5b6e91;
}

.section-title {
  color: #5b6e91;
}

#intro h1 {
  color: #cdcdcd;
  font-family: 'Roboto Condensed', sans-serif;
}
